[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/pico-distance-sensor"]
	path = external/pico-distance-sensor
	url = https://github.com/dangarbri/pico-distance-sensor.git
